.header{
	display: none;
}
.related{
	display: none;
}
.call-to-action{
	display: none;
}
.footer{
	display: none;
}
.print{
	display: none;
}
.schedule h2{
	font-size: 48px;
}
.schedule a{
	font-size: 20px;
}





